<footer class="page-footer" role="group" aria-label="{{ctx.Locale.Tr "aria.footer"}}">
	<div class="left-links">
		<div>
			{{ctx.Locale.Tr "wa.footer_agreement" | Str2html}}
		</div>
	</div>
    <div class="right-links">
		<div>
			{{ctx.Locale.Tr "wa.footer_license" | Str2html}}
		</div>
	</div>
</footer>