<a class="item" href="https://bibleineverylanguage.org/">{{.locale.Tr "wa.biel"}}</a>

<a class="item" href="https://techadvancement.freshdesk.com/support/home" rel="noreferrer">{{.locale.Tr "support_link"}}</a>