<a class="item" href="https://bibleineverylanguage.org/">{{ctx.Locale.Tr "wa.biel"}}</a>

<a class="item" href="https://techadvancement.freshdesk.com/support/home" rel="noreferrer">{{ctx.Locale.Tr "help"}}</a>