<footer style="padding: .5rem 0; ">
		<div class="ui container">
			<div class="ui">
				<span class="license">
				{{/* ! 1.21 DOES this diff than 1.20. ask dan if we want to go ahead and get 1.21? */}}
				{{.locale.Tr "custom_footer_note" | Str2html}}
				</span>
			</div>
		</div>
	</footer>