{{template "base/head" .}}
<div role="main" aria-label="{{if .IsSigned}}{{ctx.Locale.Tr "dashboard"}}{{else}}{{ctx.Locale.Tr "home"}}{{end}}">
	<div class="gt-mb-5 gt-px-5">
		<div class="center">
			<img class="logo" width="220" height="220" src="{{AssetUrlPrefix}}/img/logo.svg" alt="{{ctx.Locale.Tr "logo"}}">
			<div class="hero">
				<h1 class="ui icon header title">
					{{ctx.Locale.Tr "wa.wacs_title"}}
				</h1>
				<h2>{{ctx.Locale.Tr "wa.wacs_desc"}}</h2>
			</div>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
                <a href="{{AppSubUrl}}/user/sign_up">
				    {{svg "octicon-person"}} {{ctx.Locale.Tr "register"}}
                </a>
			</h1>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
                <a rel="nofollow" href="{{AppSubUrl}}/user/login">
				    {{svg "octicon-sign-in"}} {{ctx.Locale.Tr "sign_in"}}
                </a>
			</h1>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
                <a rel="nofollow" href="{{AppSubUrl}}/explore/repos">
				    {{svg "octicon-search"}} {{ctx.Locale.Tr "explore"}}
                </a>
			</h1>
		</div>
        <div class="eight wide center column">
			<h1 class="hero ui icon header">
                <a rel="nofollow" href="https://techadvancement.freshdesk.com/support/home">
				    {{svg "octicon-mail"}} {{ctx.Locale.Tr "wa.contact_us"}}
                </a>
			</h1>
		</div>
	</div>
</div>
{{template "base/footer" .}}