{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
				<img class="logo" src="assets/img/wacs-full.svg" />
			</div>
		</div>
	</div>

	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide left column">
			<p>{{.locale.Tr "wa.wacs_desc" | Str2html}}</p>
			<p>{{.locale.Tr "wa.wacs_attribution" | Str2html}}</p>
		</div>

		<div class="eight wide left column">
			<h3>{{svg "octicon-person"}} {{.locale.Tr "wa.get_started"}}</h3>
			<p>{{.locale.Tr "wa.wacs_register" | Str2html}}</p>
			<p>{{.locale.Tr "wa.wacs_tools" | Str2html}}</p>
			<p>{{.locale.Tr "wa.wacs_process" | Str2html}}</p>
		</div>

		<div class="eight wide left column">
			<h3>{{svg "octicon-comment-discussion"}} {{.locale.Tr "wa.contact_us"}}</h3>
			<p>{{.locale.Tr "wa.wacs_contact_desc" | Str2html}}</p>
		</div>

		<div class="sixteen wide left column">
			<h3>{{svg "octicon-gear"}} {{.locale.Tr "wa.wacs_reader_conversion"}}</h3>
			<p>{{.locale.Tr "wa.wacs_reader_conversion_desc" | Str2html}}</p>
		</div>
	</div>
</div>
{{template "base/footer" .}}
